navigation_nav
/*
    0-600px:        phone
    600-900px:      tablet
    900-1200px:     tablet landscape
    1200-1800:      is where our normal styles apply
    1800px-*:       big screen

 $breakpoint arugment choices:
 - phone
 - tab-port
 - tab-land
 - big-desktop

 order: BASE + typography > general layout + grid > page layout > components
*/navigation_nav

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* This defines what 1rem is 1 rem = 10px; 10px/16px = 62.5% */
html {
    font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
    html {
        font-size: 56.25%;
    }
}

@media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%;
    }
}

@media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%;
    }
}
  
body {
    box-sizing: border-box;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    line-height: 1.7;
}
@media only screen and (max-width: 56.25em) {
    body {
      padding: 0;
    }
}

ul {
    list-style: none;
}

li {
    display: inline;
}

.navigation {
    margin-top: 8px;
    max-width: 100%;
    height: 8vh;
    border-bottom: 2px solid #007EA7;
    border-top: 2px solid #007EA7;
    font-family: "Alegreya", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.8rem;
    padding: 20px;
    text-align:center;
    
}

.navigation_nav .navigation_list a {
    padding: 14px 16px;
    text-decoration: none;
    color: #007EA7
}

.navigation_nav .navigation_list .left_list {
    position: absolute;
    left: 10rem;
}

.navigation_nav .navigation_list .right_list {
    position: absolute;
    right: 10rem;
}


.navigation_nav .navigation_list .logo {
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;

}

.navigation_nav .navigation_list .logo a {
    position: relative;
    top: -20px;
}


.program_list {
    background-color: #007EA7;
    height: 108vh;
}

.img1 {
    width: 108%;
    height: max-content;
}

.first_screen {
    max-width: 100%;
    max-height: 84vh;
    overflow: hidden;
}

.program_list_box {
    width: 30rem;
    height: 46rem;
    margin-top: 10rem;
    border-radius: 3.4rem;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.2);
}

.program_list_box:nth-child(-n+3) {
    margin-left: 22px;
}

.custom-bg-white {
    background-color: #FFFFFF;
}

.custom-bg-blue {
    background-color: #00A8E8;
}

.custom-bg-blue-dark {
    background-color: #007ea7;
}

.custom-text-blue {
    color: #00A8E8;
}


.primary_level_img {
    width: 310px;
    height: 344px;
}

.program_name_box-right {
    position: relative;
    bottom: 1rem;
    width: 85%;
    height: 9%;
    box-shadow: -4px 4px 4px 4px rgba(63, 57, 57, 0.2);
} 

.program_name_box-left {
    position: relative;
    top: 3rem;
    width: 85%;
    height: 9%;
    box-shadow: 4px 4px 4px 4px rgba(63, 57, 57, 0.2);
} 

.program_name_box-heading  {
    font-family: "Alegreya", serif;

}

.program2 {
    position: relative;
    width: 70%;
    height: 7%;
    background-color: #00A8E8;
    bottom: 19px;
    left: 90px;
    box-shadow: 0px 5px 3px 3px rgba(63, 57, 57, 0.2);
}

.program3 {
    position: relative;
    color: #FFFFFF;
    left: 85px;
    top: 0px;
}

.first_screen_text{
    color: #007EA7;
}

.first_screen_text h1 {
    font-family:"alegreya","serif";
    font-weight: 700;
    font-style: normal;
    font-size: 4.8rem;    
}

.first_screen_text h2{
    font-style: normal;
    font-size: 2.8rem;
    font-weight: 400;
}

.first_screen_text p{
    font-style: normal;
    font-size: 1.9rem;
    font-weight: 300;
}

.gallery_btn{
    width: 25%;
    height: 25%;
    font-size:1.8rem ;
    color: #007EA7;
    background-color: #FFF;
    border: 3px solid #007EA7;

}

.program_image{
    width: 72%;
    height: 42%;
    border-radius: 40px;
    box-shadow: -50px -50px 0px 0px rgb( 0, 126, 167);
}


.program_detail_heading {
    font-family: "Alegreya", sans-serif;
}


.program_detail_container {
    height: 113vh;
    width: 100%;
    overflow: hidden;
}

.program_detail_container p {
    width: 20rem;
}

.program_detail_heading h1 {
    font-size: 8rem;
    font-weight: 500;
}

.program_detail_heading h2 {
    font-size: 2.2rem;
    width: 100%;
}


.program_detail_text_col p {

    font-family: "Alegreya-sans", sans-serif;
    font-size: 1.8rem;
    width: 78%;
    line-height: 1.6 ;

}

.slide img{
    width: 100%;
    height: 44rem;
    object-fit: cover;
}

.thrid_screen-texts {
    width: 100%;
    height: 40vh;
}

.thrid_screen-texts h1 {
    font-size: 6rem;
    font-weight: 500;
    font-family: "Alegreya", sans-serif;
    color: #007EA7;
}

.thrid_screen-texts h2 {
    font-size: 3rem;
    font-weight: 500;
    font-family: "Alegreya", sans-serif;
    color: #007EA7;
}

.thrid_screen-texts p {
    font-size: 1.9rem;
    font-weight: 500;
    font-family: "Alegreya-sans", sans-serif;
    color: #007EA7;
}

.program_detail_img {
    border-top: 60px solid #007EA7;
}

